ul {
    list-style-type: none;
    margin: 0;
    padding-left: 40%;
    overflow: hidden;
    background-color: rgb(63,65,72);

}

li {
    float: left;
}

li a {
    display: block;
    color:rgb(157, 155, 158);
    text-align: center;
    padding: 16px;
    text-decoration: none;
        
}

li a:hover {
    color: rgb(60, 131, 117);
}